.background {
    -fx-background-color: white;
}

.split-pane:horizontal > * > .split-pane-divider {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.split-pane:vertical > * > .split-pane-divider {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.split-pane *.vertical-grabber {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-shape: " ";
}


.split-pane *.horizontal-grabber {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-shape: " ";
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 0 0 0;
    -fx-border-color: black;
}


.table-cell {
    -fx-font-size: 9pt;
    -fx-alignment: center;
    -fx-font-family: "Monaco";
    -fx-text-fill: black;
}

.table-row-cell:selected {
	-fx-background-color: #d1fdf7;
}

.table-column {
	-fx-border-color: transparent;
}